//.profile-info-tab {
//  .icon-container {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    //background-color: #f5f5f5;
//    border-radius: 50%;
//    padding: 12px;
//    background-color: #15803D;
//  }
//
//  .icon-style {
//    font-size: 1.2rem;
//    color: #555;
//  }
//
//  .info-title {
//    font-size: 0.9rem;
//    font-weight: 500;
//    color: #666;
//    margin: 0;
//  }
//
//  .info-text {
//    font-size: 1rem;
//    color: #333;
//    margin: 0;
//    font-weight: 600;
//  }
//
//  .mb-3 {
//    padding: 8px 0;
//    border-bottom: 1px solid #e0e0e0;
//  }
//}


.program-info {
  background-color: #f9f9f9;
  border: 1px solid #28a745;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;

  .info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    .label {
      font-weight: bold;
      color: #28a745;
    }

    .value {
      color: #6c757d;
    }
  }
}

.program-duration {
  .date-info {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;

    .label {
      font-weight: bold;
      color: #28a745;
    }

    .value {
      color: #6c757d;
    }
  }

  .duration-info {
    margin-top: 10px;

    .label {
      font-weight: bold;
      color: #28a745;
    }

    .value {
      color: #6c757d;
    }
  }
}

.program-name {
  background-color: #f9f9f9;
  border: 1px solid #28a745;
  padding: 15px;
  border-radius: 8px;

  h5 {
    margin: 0;
    color: #28a745;
    font-weight: bold;
  }
}


.program-description {
  background-color: #f9f9f9;
  border: 1px solid #28a745;
  padding: 15px;
  border-radius: 8px;

  p {
    margin: 0;
    color: #6c757d;
  }
}


.svg-wrapper {
  width: 24px;
  height: 24px;
  color: #28a745;

  &.text-success {
    color: #28a745;
  }
}



