@import "utils/variables";

:root {
    --theme-default: #84a02f;
    --theme-secondary: #14532D;
    --light-background: rgba(20, 83, 45, 0.7);
    --body-font-color: #14532D;
    --chart-border: #14532D;
    --recent-chart-bg: #14532D;
    --light-bg: #14532D;
    --white: #FFFFFF;
    --light2: #F8F9FB;
    --sidebar-border: rgba(20, 83, 45, 0.1);
    --chart-text-color: rgba(20, 83, 45, 0.8);
    --recent-dashed-border: rgba(20, 83, 45, 0.3);
    --chart-dashed-border: rgba(20, 83, 45, 0.2);
    --chart-progress-light: rgba(20, 83, 45, 0.1);
    --recent-box-bg: #F4F6F9;
    --recent-border: rgba(117, 121, 142, 0.25);
    --course-light-btn: #F4F5F9;
    --course-bg: #FAFAFA;
    --balance-profie-bg: #E8E7F4;
    --view-grid-bg: #F3F7FD;
    --view-border-marker: #DAD9FF;
    --light-slate: #F8F9FB;
    --text-gray: rgba(20, 83, 45, 0.8);
    --product-shadow: 0px 1px 0px rgba(20, 83, 45, 0.15);
    --light-shade-primary: rgba(20, 83, 45, 0.7);
    --fc-button-bg-color: var(--theme-default);
    --fc-button-active-bg-color: var(--theme-default);
    --fc-button-active-border-color: var(--theme-default);
    --fc-button-border-color: var(--theme-default);
    --fc-button-hover-bg-color: var(--theme-default);
    --fc-button-hover-border-color: var(--theme-default);

    --bs-heading-color: #14532D;
    // rating
    --normal: #14532D;
    --normal-shadow: #14532D;
    --normal-mouth: #B0AFBC;
    --normal-eye: #6F6F78;
    --active: #FAE48A;
    --active-shadow: #F7C67D;
    --active-mouth: #F47456;
    --active-eye: #4B4A4F;
    --active-tear: #88c4f3;
    --active-shadow-angry: #ee7150;

    .customLook {
        --tag-bg: var(--theme-default);
        --tag-hover: var(--theme-secondary);
        --tag-text-color: var(--white);
        --tags-border-color: silver;
        --tag-border-radius: 25px;
        --tag-text-color--edit: #111111;
        --tag-remove-bg: var(--tag-hover);
        --tag-pad: .6em 1em;
        --tag-inset-shadow-size: 1.35em;
        --tag-remove-btn-bg--hover: #000000;
        --tagify-dd-color-primary: var(--theme-default);
        --tagify-dd-bg-color: var(--course-light-btn);
    }
}

body[class='dark-only'] {
    --light-background: #14532D;
    --recent-chart-bg: #333741;
    --light-bg: #282930;
    --white: #333741;
    --sidebar-border: rgba(255, 255, 255, 0.2);
    --light2: #282930;
    --chart-border: #4A5874;
    --recent-box-bg: #282930;
    --recent-border: #4A5874;
    --body-font-color: rgba(255, 255, 255, 0.8);
    --course-light-btn: var(--light-bg);
    --view-grid-bg: var(--light-bg);
    --view-border-marker: #373764;
    --light-slate: #272830;
    --text-gray: rgba(179, 179, 192, 0.8);
    --product-shadow: 0px 1px 0px rgb(74 88 116);
    --light-shade-primary: rgba(58, 67, 85, 1);
    --bs-heading-color: rgba(255, 255, 255, 0.9);
}

body[class="rtl dark-only"] {
    --light-background: #14532D;
    --recent-chart-bg: #333741;
    --light-bg: #282930;
    --white: #333741;
    --sidebar-border: rgba(255, 255, 255, 0.2);
    --light2: #282930;
    --chart-border: #4A5874;
    --recent-box-bg: #282930;
    --recent-border: #4A5874;
    --body-font-color: rgba(255, 255, 255, 0.8);
    --course-light-btn: var(--light-bg);
    --view-grid-bg: var(--light-bg);
    --view-border-marker: #373764;
    --light-slate: #272830;
    --text-gray: rgba(179, 179, 192, 0.8);
    --product-shadow: 0px 1px 0px rgb(74 88 116);
    --light-shade-primary: rgba(58, 67, 85, 1);
    --bs-heading-color: rgba(255, 255, 255, 0.9);
}

body[class="dark-only modal-open"] {
    --light-shade-primary: rgba(58, 67, 85, 1);
    --light-slate: #272830;
    --bs-heading-color: rgba(255, 255, 255, 0.9);
}

body[class="rtl dark-only modal-open"] {
    --light-shade-primary: rgba(58, 67, 85, 1);
    --light-slate: #272830;
    --bs-heading-color: rgba(255, 255, 255, 0.9);
}

body.dark-only.box-layout {
    --light-background: #4A577B;
    --recent-chart-bg: #333741;
    --light-bg: #282930;
    --white: #333741;
    --sidebar-border: rgba(255, 255, 255, 0.2);
    --light2: #282930;
    --chart-border: #4A5874;
    --recent-box-bg: #282930;
    --recent-border: #4A5874;
    --body-font-color: rgba(255, 255, 255, 0.8);
    --course-light-btn: var(--light-bg);
    --view-grid-bg: var(--light-bg);
    --view-border-marker: #373764;
    --light-slate: #272830;
    --text-gray: rgba(179, 179, 192, 0.8);
    --product-shadow: 0px 1px 0px rgb(74 88 116);
    --light-shade-primary: rgba(58, 67, 85, 1);
    --bs-heading-color: rgba(255, 255, 255, 0.9);
}

@import "base/reset";
@import "base/typography";
@import "components/user_profil";
@import "components/according";
@import "components/alert";
@import "components/avatars";
@import "components/badge";
@import "components/bookmark";
@import "components/breadcrumb"; 
@import "components/basic-card";
@import "components/builders";
@import "components/buttons";
@import "components/card";
@import "components/color";
@import "components/calendar";
@import "components/datatable";
@import "components/datepicker";
@import "components/datepicker-range";
@import "components/dropdown";
@import "components/form-builder";
@import "components/form-input";
@import "components/form-wizard";
@import "components/forms";
@import "components/icons";
@import "components/list";
@import "components/loader";
@import "components/modal";
@import "components/popover";
@import "components/print";
@import "components/radio";
@import "components/ribbon";
@import "components/range-slider";
@import "components/switch";
@import "components/tab";
@import "components/table";
@import "components/toasts";
@import "components/touchspin";
@import "components/tour";
@import "components/tree";
@import "components/typeahead-search";
@import "components/scrollbar";
@import "components/jnputmask";
@import "pages/rating";

@import "pages/blog";
@import "pages/bookmark-app";
@import "pages/add-product";
@import "pages/cart";
@import "pages/chart";
@import "pages/chat";
@import "pages/checkout";
@import "pages/comingsoon";
@import "pages/contacts";
@import "pages/dashboard_2";
@import "pages/dashboard_3";
@import "pages/dashboard_4";
@import "pages/dashboard_default";
@import "pages/general-widget";
@import "pages/ecommerce";
@import "pages/email-application";
@import "pages/letter_box";
@import "pages/errorpage";
@import "pages/faq";
@import "pages/file";
@import "pages/gallery";
@import "pages/helper";
@import "pages/internationalization";
@import "pages/invoice";
@import "pages/job-search";
@import "pages/jsgrid";
@import "pages/kanban";
@import "pages/knowledgebase";
@import "pages/landing";
@import "pages/language";
@import "pages/learning";
@import "pages/login";
@import "pages/megaoption";
@import "pages/order-history";
@import "pages/page";
@import "pages/pricing";
@import "pages/progress";
@import "pages/projectlist";
@import "pages/rating";
@import "pages/social-app";
@import "pages/sweet-alert";
@import "pages/task";
@import "pages/timeline-v";
@import "pages/user-profile";
@import "pages/wishlist";

@import "themes/dark";
@import "themes/theme-customizer";
@import "themes/update";

@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/navs";
@import "layout/search";
@import "layout/select2";
@import "layout/sidebar";
@import "layout/rtl";
@import "layout/box-layout";

@import "npm/react-accessible-treeview.scss";

@import "./components/react_plugin";